html{ box-sizing: border-box; text-decoration: none;}

body{
    box-sizing: border-box;
    width: 100%; height: 100%;
    margin: 0 auto; padding: 0.5%;  
}

.gba{
    color: black;
}
.cuadritoJuego{
    display: flex;
    flex-direction: row;
    background-color:white ;
    border-radius: 2em;
    margin-bottom: 2%;
    min-height: 90px;
}

.imgJuego{
    width: 20%; height: 20%;
    max-width: 100px; max-height: 100px;
    margin: 2%;
}

.descJuego{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.descJuego p{
    width: 97%; height: 90%;
    margin-top: 2%; margin-bottom: 0;
    
}
.descJuego a{ 
    cursor: pointer;
    margin-bottom: 1%
}
.descJuego a:link, .descJuego a:visited{
    color: black;
}

.descJuego a:hover{color: blue;}

body::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
 /*   display: none;  /* Ocultar scroll */
}

body::-webkit-scrollbar-track {
    background: #18191a;        /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: #333;    /* color of the scroll thumb */
    border: 3px solid #18191a;  /* creates padding around scroll thumb */
}